@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");


html {
    font-family: 'DM', sans-serif;
    font-size: calc(20rem / 16);
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-dark-gray: rgb(100, 107, 122);
    --clr-light-gray: rgb(174, 186, 199);
    --clr-light: #f3f6fd;
}

body {
    background-color: var(--clr-light);
    min-height: 100vh;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border: black solid 1px;
}

header img {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    border: 5px white solid;
    box-shadow: 0px 0px 37px 9px rgba(0,0,0,0.1);
    margin-bottom: 1.6em;
}


section {
    border: black solid 1px;

}

.searchBar {
    display: flex;
    width: 100%;
}

.searchInput {
    padding: .2em;
    height: 2.5em;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.1);
}


.recapContainer {
    max-width: 100em;
    margin-inline: auto;
    padding-inline: 2rem;
}

.recapGrid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
}

/*
Winrate Component
*/

.winLossBar {
    width: 8em;
    height: 1.6em;
    background-color: rgba(255, 0, 0, 0.644);
    z-index: -1;
}

.wins {
    height: 1.6em;
    background-color: rgba(35, 161, 192, 0.808);
    z-index: 1;
}


/*
GameStat Component
*/

.cardImage {
    width: 400px;
}
.gameStatCard {
    background: white;
    width: 20em;
    margin: auto;
    text-align: center;
}


/* CARD HAND LAYOUT
.gameStatCard {
    display: flex;
    height: 500px;
    width: 400px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px #FC5185;
    transition: 
        0.4s ease-out,
        box-shadow 0.6s linear;
    position: relative;
    left: 0px;
}


.gameStatCard:hover {
    box-shadow: 0px 0px 0px 3px #FC5185;
}

.gameStatCard:not(:first-child) {
    margin-left: -50px;
}

.gameStatCard:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

*/

